## Food Mama project:

In [1]:
import pandas as pd
import mama
import os

### Loading the Datasets into Pandas dataframe

In [2]:
path = "datasets/"
files = os.listdir(path)

dfs = []
for file in files:
    filename = file.split("_")
    dfs.append(filename[0])
    exec(dfs[-1] + '= pd.read_csv(path + file)')

print("Name of the dataframes created: ", *dfs, sep="\n")

Name of the dataframes created:
food
item
recipe

In [3]:
food.head()

,id,name,created_at,updated_at,availability,category_id,ancestry
0,7,oignon,2017-12-13 17:06:23.452741,2019-01-29 10:37:13.37345,"01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12",14.0,NaN
1,4,semoule,2017-12-13 17:04:26.719795,2019-01-29 10:37:13.530398,"01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12",21.0,NaN
2,42,mâche,2017-12-14 14:59:35.055577,2019-01-29 10:37:13.63185,"01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12",14.0,86
3,14,roquette,2017-12-13 17:16:44.709343,2019-01-29 10:37:13.724114,"05, 06, 07, 08, 09, 10, 11",14.0,86
4,54,crème liquide,2017-12-14 15:43:30.359671,2019-01-29 10:37:13.873262,"01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12",32.0,NaN

### Run `preprocessing` module to modify and to clean the dataframes (drop unnecessary columns, rename columns, replace index with "id", and fill the missing data).

In [4]:
dataframes = [food, item, recipe]
foods, items, recipes = mama.preprocessing(dataframes)
foods.head()

,name,availability,category_id,ancestry
id,,,,
7,oignon,"01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12",14.0,1
4,semoule,"01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12",21.0,0
42,mâche,"01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12",14.0,86
14,roquette,"05, 06, 07, 08, 09, 10, 11",14.0,86
54,crème liquide,"01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12",32.0,0